
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    text-align: center;
    margin-bottom: 50px;
}
.image-container img {
    width: 100%;
    max-width: 1024px;
    height: auto;
}
.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.button img {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}
.button img:hover {
    transform: scale(1.1);
}
.label {
    font-size: 1.2em;
    margin-top: 5px;
    font-weight: bold;
}
@media (max-width: 600px) {
    .buttons {
        flex-direction: column;
    }
}

#yesButton {
    height: 150px;
}

#noButton {
    height: 150px;
}

#noMultipleButton {
    height: 150px;
}