@media (max-width: 750px) {
    .content-container {
      width: 90%; 
    }
    .tab button {
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 13px;
      transition: 0.3s;
      font-size: 14px;
    }
  
    .tabcontent p {
      font-size: 12px;
    }
  
    h3 {
      font-size: 14px;
    }
    .role-mb {
      font-size: 13px;
      display: block;
    }
    .mb-hidden {
      display: none;
    }
  }