html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(circle at center, white, darkgrey);
}

#headingName {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #000;
  margin-bottom: -5px;
}

.role-mb {
  margin-top: -12px;
  display: none;
}

footer {
  text-align: center;
  color: #666;
  padding: 10px;
  margin-top: auto;
}

header {
  color: #333;
  text-align: center;
  padding: 2em 0;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-buttons a {
  display: block;
  color: #171515;
}

.social-buttons a i {
  font-size: 30px;
}

.social-buttons a:hover {
  transform: scale(1.05);
}

.linkedin {
  color: #0077b5 !important;
  margin-right: 15px;
}

section {
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

section header {
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  background: linear-gradient(to top right, #333, #666);
}

section div {
  padding: 20px;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

h1,
h2 {
  color: #333;
}

.content-container {
  width: 40%;
  margin: 0 auto;
}

.content-slide {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-header {
  text-align: center;
}

.carousel-header button {
  background-color: linear-gradient(to top right, #333, #2a2a2a);
  color: #333;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  /* No border */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  font-weight: bold;
}

.carousel-header button:hover {
  background-color: #666;
  color: white;
  transform: scale(1.05);
}

.active {
  background-color: #333;
  color: #fff !important;
}

.date,
.subinfo {
  margin-top: -12px;
  font-weight: 400;
  font-size: 13px;
}

.uni {
  margin-top: -12px;
  font-weight: 400;
  font-size: 15px;
}

.moreinfo {
  display: none;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.readmore {
  margin-left: 5px;
  color: lightskyblue;
  text-decoration: underline;
  cursor: pointer;
}

#dynamic-text {
  text-align: center;
  font-size: 24px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.flag-container {
  margin-top: -15px;
}

.flag-icon {
  border-radius: 4px;
  margin-top: 5px;
  height: 20px;
  width: auto;
  vertical-align: middle;
}

.flag-text {
  vertical-align: middle;
  margin-left: 2px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 13px;
  transition: 0.3s;
  font-size: 14px;
}

.tabcontent p {
  font-size: 13px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: block;
  padding: 6px 12px;
}

.tabcontent div {
  padding: 1px;
}

.gauge-container {
  width: 100%;
  margin-bottom: 3px;
}

.gauge-text {
  text-align: left;
  font-size: 13px;
}

.gauge {
  height: 3px;
  background-color: #bdbdbd2f;
  overflow: hidden;
}

.gauge-fill {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, rgb(197, 93, 93), rgb(93, 192, 93));
}

#gauge-csharp {
  width: 95%;
}

#gauge-sql {
  width: 85%;
}

#gauge-js {
  width: 75%;
}

#gauge-ts {
  width: 70%;
}

#gauge-python {
  width: 70%;
}

#gauge-php {
  width: 60%;
}

#gauge-dotnet {
  width: 90%;
}

#gauge-node {
  width: 70%;
}

#gauge-express {
  width: 80%;
}

#gauge-wpf {
  width: 85%;
}

#gauge-winforms {
  width: 65%;
}

#gauge-pyqt {
  width: 60%;
}

#gauge-asp {
  width: 90%;
}

#gauge-flask {
  width: 75%;
}

#gauge-angular {
  width: 70%;
}

#gauge-jq {
  width: 80%;
}

#gauge-css {
  width: 80%;
}

#gauge-tf {
  width: 90%;
}

#gauge-pytorch {
  width: 60%;
}

#gauge-mlnet {
  width: 85%;
}

#gauge-opencv {
  width: 85%;
}

#gauge-unity {
  width: 80%;
}

#gauge-cuda {
  width: 85%;
}

#gauge-git {
  width: 90%;
}

#gauge-docker {
  width: 75%;
}

#gauge-gitlab {
  width: 80%;
}

#gauge-jira {
  width: 80%;
}

#gauge-postman {
  width: 90%;
}

#gauge-redis {
  width: 80%;
}

#gauge-rabbit {
  width: 75%;
}

#particles-js {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, rgb(185, 185, 185), darkgrey);
}